*{
  font-family: 'Raleway', sans-serif;
}

body {
  
  margin: 0;
  font-family:url('https://fonts.google.com/specimen/Raleway?query=Raleway');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/rickymorty\ 1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
