.main-container{
    /* width: 500px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 40%; */
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    background-color:#ffffffe6;
    width: 60%;
    height: 40%;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-bottom: 30px;
}

.bt-container{
    display: flex;
    justify-content: center;
    margin: 24px;
}

.home-bt{
    width: 100px;
    height: 45px;
    color:#6ECCAF;
    background-color: #344D67;
    border: none;
    border-radius: 5px;
    margin: 6px;
}
.home-bt:hover{
    
    color:#8afdd9;
    background-color: #486a8e;
    
}